<% site_menu 'play' %>

<div class="row">
  <div class="col-lg-12">
    <h4>Official Puzzle Packs</h4>
    <hr/>
    <table class="table table-striped table-hover table-borderless">
      <tbody>
        <% @level_packs.each do |level_pack| %>
          <tr>
            <td width="1">
              <%= link_to play_show_pack_path(pack: level_pack.slug) do %>
                <%= level_pack_img(level_pack) %>
              <% end %>
            </td>
            <td>
              <h4>
                <%= link_to level_pack.name, play_show_pack_path(pack: level_pack.slug) %>
              </h4>
              <p>
                <strong><%= level_pack.levels_count %></strong> <%= 'puzzle'.pluralize(level_pack.levels_count) %>
              </p>
              <p>
                <%= level_pack.description %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>