<ol class="breadcrumb">
  <li><%= link_to 'Play', play_index_path %></li>
  <li class="active"><%= @level_pack.name %></li>
</ol>

<div class="row">
  <div class="col-lg-12">
    <h4><%= @level_pack.name %></h4>
    <hr/>
    <div class="row">
      <% @levels.each do |level| %>
        <div class="col-md-4">
          <%= level_preview_img(level) %>
          <%= link_to play_show_path(pack: level.level_pack.slug, level: level.name) do %>
            <%=level.name%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>