<!DOCTYPE html>
<html>
<head>
  <title>Sokoban</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= include_gon %>
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
    <footer class="footer">
      <p>&copy; <%= Time.now.year %> Play Sokoban Online.</p>
    </footer>
  </div>

  <script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
  <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
  <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
